plot_mean_spawners_B.tiff
mean_spawners_sc5.1.csv
mean_spawners_sc5.2.csv
overview_mean_spawners.csv
mean_spawners_sc4.2.csv
plot_mean_spawners_A.tiff
plot_mean_spawners_C.tiff
plot_mean_spawners_D.tiff
plot_mean_spawners_E.tiff
plot_mean_spawners_sc1.0.tiff
plot_mean_spawners_sc2.1.tiff
allscenarios_zoom.tiff
mean_spawners_A.csv
mean_spawners_B.csv
mean_spawners_C.csv
mean_spawners_D.csv
mean_spawners_E.csv
mean_spawners_sc1.0.csv
mean_spawners_sc2.1.csv
mean_spawners_sc2.2.csv
mean_spawners_sc2.3.csv
mean_spawners_sc3.1.csv
mean_spawners_sc3.2.csv
mean_spawners_sc4.1.csv
